<a href="https://colab.research.google.com/github/LiyaAg/Python-Basics-/blob/main/Basics_of_Python_9_Nov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name=input("enter the name")
print(name)

enter the nameLiya
Liya

In [13]:
x=int(input("enter the mark of first subject"))
y=int(input("enter the mark of second subject"))
z=int(input("enter the mark of third subject"))
print(x+y+z)

enter the mark of first subject10
enter the mark of second subject20
enter the mark of third subject30
60

In [18]:
x=int(input("enter the mark of first subject"))
y=int(input("enter the mark of second subject"))
z=int(input("enter the mark of third subject"))
print(x+y+z/3)

enter the mark of first subject10
enter the mark of second subject20
enter the mark of third subject30
40.0

In [35]:
x=int(input("enter the first number"))
y=int(input("enter the second number"))
if x>y :
   print(x, "is greater")
else :
  print(y, "is greater")

enter the first number50
enter the second number10
50 is greater

In [41]:
x=int(input("enter the first number"))
y=int(input("enter the second number"))
z=int(input("enter the third number"))
if x>y and x>z :
  print(x,"is the greatest")
if y>x and y>z :
  print(y,"is the greatest")
else:
  print(z,"is the greatest")

enter the first number20
enter the second number30
enter the third number50
50 is the greatest

In [53]:
x=int(input("enter the first number"))
if x%2 == 0:
 print(x,"is even")
else:
   print(x,"is odd")

enter the first number30
30 is even

In [56]:
for a in range(1,11):
  print(a)

1
2
3
4
5
6
7
8
9
10

In [58]:
for a in range(1,11):
 if a%2 == 0:
  print(a)

2
4
6
8
10