<a href="https://colab.research.google.com/github/LiyaAg/Python-Basics-/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def liya():
  print("Hope you are having a good day")

In [2]:
liya()

Hope you are having a good day

In [3]:
def liya(x,y):
  z=x+y
  print("Result = ",z)

In [4]:
liya(5,6)

Result =  11

In [5]:
def liya(x,y):
  z=x-y
  print("Result = ",z)

In [6]:
liya(5,6)

Result =  -1

In [7]:
def liya(x,y):
  z=x*y
  print("Result = ",z)

In [8]:
liya(5,6)

Result =  30

In [9]:
def liya(x,y):
  z=x/y
  print("Result = ",z)

In [10]:
liya(5,6)

Result =  0.8333333333333334

In [13]:
x=int(input())

250000

In [28]:
x=int(input())
def liya(salary):
  if salary>250000:
     print(" You are taxable")
  else:
      print("You are not taxable")

300000

In [30]:
liya(x)

 You are taxable

In [31]:
x=int(input())

100

In [46]:
def alex(n):
  k=0
  for a in range(n):
    k=k+a
  print(k)

In [50]:
x=100
alex(x)

4950

In [56]:
def add(x,y):
  print(x+y)
def sub(x,y):
  print(x-y)

In [63]:
x=int(input("Enter a number"))
y=int(input("Enter a number"))
add(x,y)
sub(x,y)

Enter a number10
Enter a number20
30
-10