<a href="https://colab.research.google.com/github/LiyaAg/Python-Basics-/blob/main/Practice_Questions_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#print the multiplication table using for loop
x=int(input("enter the number to display the corresponding multiplication:"))
for i in range(1,11) :
  print(i, "*",x, "=", i*x)

enter the number to display the corresponding multiplication:5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [6]:
#print the multiplication table using while loop
x=int(input())
i=1
while(i<=10):
  print(i, "*",x, "=", i*x)
  i=i+1

5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [17]:
#count the number of digits in a number
x=input("enter the number:")
d=0
for i in x:
  d=d+1
print(d)

enter the number:500
3

In [36]:
#case conversion program
input=("enter a name")
if input.isupper():
  print(input.lower())
else:
  print(input.upper())

ENTER A NAME

In [25]:
#print the number of alphabets in the username
x=("Liya Ann George")
d=0
for i in x:
  d=d+1
print(d)

15

In [27]:
#replace a letter from a username 
x=("Liya Ann George")
x=x.replace("L","K")
print(x)

Kiya Ann George