<a href="https://colab.research.google.com/github/LiyaAg/Python-Basics-/blob/main/Salary_and_Tax_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
salary=int(input())
if salary <250000:
  print("no tax") 
if 250000 <salary <500000: 
  print((salary-250000)*10/100)
if 500000 <salary <750000: 
  print((salary-500000)*20/100)
if salary >750000:
  print((salary-750000)*30/100)

800000
15000.0

In [2]:
salary=int(input())
if salary <250000:
  print("no tax") 
if 250000 <salary <500000: 
  print((salary-250000)*10/100)
if 500000 <salary <750000: 
  print((salary-500000)*20/100)+((salary-250000)*10/100)
if salary >750000:
  print((salary-750000)*30/100+(salary-500000)*20/100+(salary-250000)*10/100)
if salary>10000000:
  print((salary-750000)*30/100+(salary-500000)*20/100+(salary-250000)*10/100+(salary-10000000)*2/100)

20000000
11650000.0
11850000.0